<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Checkerboard</title>
</head>
<body>
<h1>Checkerboard</h1>
<div class="checkerboard">
    {% for i in range (down):%}
    <div>
        {% for j in range (across):%}
        <div class="redbox"></div>
        <div class="blackbox"></div>
        {% endfor %}
    </div>
    <div>
        {% for j in range (across):%}
        <div class="blackbox"></div>
        <div class="redbox"></div>
        {% endfor %}
    </div>
    {% endfor %}



</div>
</body>
</html>