* {
    margin: 0;
    padding: 0;
}

.title {
    color: yellow;
}

.container { 
    background-color: gray;
    justify-content: center;
    text-align: center;
    border: solid black 2px;
    height: 500px;
    width: 500px;
    max-width: 500px;
    margin: auto;
    line-height: 3em;
}